.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.buttons button {
  background-image: linear-gradient(to right, #eb3a99, #fe980a);
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 15px 30px;
  outline: none;
  transition: background-image 0.3s ease;
  white-space: nowrap; /* Add this property to prevent text splitting */
  min-width: 120px; /* Add this property to ensure minimum width for the button */
}

.buttons button:hover,
.buttons button:active {
  background-image: linear-gradient(to right, #12d135, #91dd15);
}
