.App {
  text-align: center;
  padding-top: 30px;
}

.results-container {
  padding-bottom: 30px;
}

/* Add media query for mobile view */
@media (max-width: 768px) {
  .App {
    font-size: 0.7rem; /* Adjust font size for mobile view */
    padding-top: 30px;
  }

  .results-container {
    padding-bottom: 30px;
  }
}
